SHADOW_MDC_DATA_DIR=data
SHADOW_MDC_DATABASE_URL=sqlite:///data/shadow-mdc.db
SHADOW_MDC_JAVDB_BASE_URL=https://javdb.com
SHADOW_MDC_JAVBUS_BASE_URL=https://www.javbus.com
SHADOW_MDC_JAV321_BASE_URL=https://www.jav321.com
SHADOW_MDC_R18DEV_BASE_URL=https://r18.dev
SHADOW_MDC_FANZA_BASE_URL=https://www.dmm.co.jp
SHADOW_MDC_JAVLIBRARY_BASE_URL=https://www.javlibrary.com
SHADOW_MDC_MGSTAGE_BASE_URL=https://www.mgstage.com
SHADOW_MDC_FC2CLUB_BASE_URL=https://fc2club.top
SHADOW_MDC_FC2HUB_BASE_URL=https://javten.com
SHADOW_MDC_FC2CONTENTS_BASE_URL=https://adult.contents.fc2.com
SHADOW_MDC_PAIPANCON_BASE_URL=https://paipancon.com
SHADOW_MDC_AIRAV_BASE_URL=https://cn.airav.wiki
SHADOW_MDC_AVSOX_BASE_URL=https://avsox.click
SHADOW_MDC_FREEJAVBT_BASE_URL=https://freejavbt.com
SHADOW_MDC_THEPORNDB_GRAPHQL_URL=https://theporndb.net/graphql
# SHADOW_MDC_THEPORNDB_TOKEN=
SHADOW_MDC_REQUEST_TIMEOUT_SECONDS=20
SHADOW_MDC_REQUEST_RETRIES=1
SHADOW_MDC_IDENTIFY_CONCURRENCY=4
SHADOW_MDC_PROVIDER_CONCURRENCY=16
SHADOW_MDC_TRANSLATION_CONCURRENCY=4
# SHADOW_MDC_PROXY_URL=http://127.0.0.1:7890
SHADOW_MDC_TRANSLATION_ENABLED=true
SHADOW_MDC_TRANSLATION_ENDPOINT=https://translate.google.com/translate_a/single
SHADOW_MDC_TRANSLATION_TARGET_LANGUAGE=zh-CN
SHADOW_MDC_ARTWORK_MAX_BYTES=26214400
