SHADOW_MDC_DATA_DIR=data
SHADOW_MDC_DATABASE_URL=sqlite:///data/shadow-mdc.db
SHADOW_MDC_JAVDB_BASE_URL=https://javdb.com
SHADOW_MDC_JAVBUS_BASE_URL=https://www.javbus.com
SHADOW_MDC_THEPORNDB_GRAPHQL_URL=https://theporndb.net/graphql
# SHADOW_MDC_THEPORNDB_TOKEN=
SHADOW_MDC_REQUEST_TIMEOUT_SECONDS=20
